{% extends 'master/master.html' %}

{% block 'title' %} {{title}} {% endblock %}


{% block 'body' %}
<div class="container">
    <div class="row">
        {% for m in movies %}
        <div class="col-4">
            <!-- Card -->
            <div class="card">

              <!-- Card image -->
              <div class="view overlay">
                <img class="card-img-top" src="{{MEDIA_URL}} {{m.image.url}}"
                  alt="Card image cap" style="height:250px; width: auto">
                <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>

              <!-- Card content -->
              <div class="card-body">
                <!-- Title -->
                <h4 class="card-title">{{m.movie_name}}</h4>
                  <span>{{m.Genre.title}}</span>
                  <br/>
                  {% if m.averageRate == 0 %}
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                  {% elif m.averageRate == 1 %}
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  {% elif m.averageRate == 2 %}
                   <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  {% elif m.averageRate == 3 %}
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="far fa-star"></i>
                  {% else %}
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  {% endif %}
                <!-- Text -->
                <p class="card-text">{{m.description}}
                  </p>
                <!-- Button -->
                <a href="{% url 'readmore' m.id %}" class="btn btn-primary">Read More</a>

              </div>

            </div>
            <!-- Card -->
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}