{% extends 'master/master.html' %}

{% block 'title' %} Rate History{% endblock %}

{% block 'body' %}

<div class="container">
{% include 'widgets/message.html' %}
    <a href="#">Similar user</a> | <a href="{% url 'mywatchlist' %}">My WatchList</a>
        <h3>History</h3>
    <hr/>
    <div class="row">
        <table class="table">

        {% for m in rate %}
         <tr>
             <td>You give {{m.rating}} rate for movie {{m.movie}}</td>
         </tr>
        {% endfor %}
        </table>
    </div>
</div>

{% endblock %}