{% extends 'master/master.html' %}

{% block 'title' %} SignUp Form {% endblock %}

{% block 'body' %}

<div class="container" style="padding-top: 50px; padding-bottom:50px">
    {% include 'widgets/message.html' %}
    <!-- Default form register -->
<form class="text-center border border-light p-5" action="{% url 'signup' %}" method="post">
    {% csrf_token %}
    <p class="h4 mb-4">Sign up</p>

    {{form}}

    <!-- Sign up button -->
    <button class="btn btn-info my-4 btn-block" type="submit">Sign Up</button>

</form>
<!-- Default form register -->
</div>

{% endblock %}